{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/listPosts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="list-posts">
    <div class="head">
        <h1>Feed: The Latest posts</h1>
        <a class="btn btn-outline-primary" href="{% url 'create_post' %}">Create new Post</a>
    </div>

    {% for post in post_list %}
        <div class="post" id="p-{{post.id}}">
            <div class="user-info">
                {% if post.author_profile.avatar %}
                    <img src="{{post.author_profile.avatar.url}}">
                {% else %}
                    <img src="https://t3.ftcdn.net/jpg/06/33/54/78/360_F_633547842_AugYzexTpMJ9z1YcpTKUBoqBF0CUCk10.jpg">
                {% endif %}
                <div class="info">
                    <a href="{% url 'profile' post.author.id %}"> <label>{{post.author.username}}</label> </a>
                    <label class="date">{{post.created_on}}</label>
                </div>

                <div class="controls">
                    <i onclick="showModal('{{post.id}}')" class="fa-regular fa-bookmark"></i>
                    {% if post.author.id == user.id %}
                        <a class="text-danger" href="{% url 'delete_post' post.id %}">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
           
            <p>{{post.content}}</p>
            {% if post.image %}
                <img class="uploaded-img" src="{{post.image.url}}">
            {% endif %}

            <div class="video-container">
                {% if post.video %}
                    {% video post.video %}
                {% endif %}
            </div>

            <div class="reactions">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">

                    {% if user.is_authenticated %}
                    <button type="submit" name="react_type" value="like" class="like">
                        <span class="count">{{post.likes}}</span>
                        <i class="fa-solid fa-thumbs-up"></i>
                    </button>

                    <button type="submit" name="react_type" value="dislike" class="dislike">
                        <span class="count">{{post.dislikes}}</span>
                        <i class="fa-solid fa-thumbs-down"></i>
                    </button>

                    <button type="submit" name="react_type" value="heart" class="love">
                        <span class="count">{{post.hearts}}</span>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    {% else %}
                    <label class="text-secondary">You need to be logged in to react</label>
                    {% endif %}                   
                </form>

                <a onclick="showComments('{{post.id}}')" class="comments-link">({{post.comments.count}}) Comments</a>
            </div>


            <div id="comments-{{post.id}}" class="comments hidden">
                {% for comment in post.comments.all %}
                    <div class="comment">
                        <p class="author">{{comment.user.username}}</p>
                        <p class="text">{{comment.text|capfirst }}</p>
                        <p class="date"><small>{{comment.created_on}}</small></p>
                    </div>
                {% endfor %}

                <form class="form comment-form">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">

                    <p>Comment:</p>
                    {% if user.is_authenticated %}
                    <textarea name="text" class="form-control" rows="3"></textarea>
                    <button class="btn btn-sm btn-outline-primary">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                    {% else %}
                    <label class="text-secondary">You need to be logged in to comment</label>
                    {% endif %}   
                </form>
            </div>
        </div>
    {% endfor %}

    <div class="modal" id="bookmarkModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Bookmark</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <label class="form-label">Bookmark title:</label>
                <input id="txtBookmarkTitle" type="text" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button onclick="saveBookmark()" type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
    </div>

</div>
{% endblock %}